body {
  background-color: #4e73df;
}

h3 {
  color: white;
}

.navbar {
  background-color: #4285f4;
}

.navbar a {
  color: white;
}

.nav-tabs {

  border-color: transparent;

}

.nav-link {
  background: #ffffffa2;
  color: #000000;
  border-bottom: 1px solid #808080 !important;
  border-color: none !important;
}

.nav-link.active {
  background: #ffffff;
  border-bottom: 2px solid blue !important;
  color: #000000 !important;

}

.tab-content {
  background: #d4deff;
  border-radius: 0px 5px 5px 5px;
}