main {
  background-color: #ecf0f1;
}

body {
  background-color: #ecf0f1;
}


.divCard {
  width: 100%;
  max-width: auto;
  padding: 25px 25px 25px 25px;
  margin: auto;
  background-color: #fff;
  /* Color de fondo del formulario */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sutil sombra */
}